.left{
  text-align: left;
}
.right{

  text-align: right;
}
.center{
  text-align: center;
}
.container-fluid{
padding-bottom: 300px;
background-image: url("images/japanese background.jpg");
background-size: 1400px 600px;
background-repeat: no-repeat;
}
h2{
  font-size: 60px;
}
.background{
padding-bottom: 265px;
background-image: url("images/japanese background2.jpg");
background-size: 1800px 1000px;
background-repeat: no-repeat;
}
.fluid-jumbotron{
  padding-bottom: 75px;
}
